<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.magic.dto.Dept">
    <id column="deptno" jdbcType="INTEGER" property="deptno" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="loc" jdbcType="VARCHAR" property="loc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dept
    where deptno = #{deptno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magic.dto.Dept">
    insert into dept (deptno, dname, loc
      )
    values (#{deptno,jdbcType=INTEGER}, #{dname,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.magic.dto.Dept">
    update dept
    set dname = #{dname,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR}
    where deptno = #{deptno,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select deptno, dname, loc
    from dept
    where deptno = #{deptno,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select deptno, dname, loc
    from dept
  </select>
</mapper>